# Docker specific files
Dockerfile
.dockerignore
docker-compose.yml

# Git specific files
.git
.gitignore

# Node.js dependencies (handled in Dockerfile)
node_modules

# Next.js build output (handled in Dockerfile)
.next

# Environment variables (should be injected at runtime)
.env*
!.env.example
!.env.production

# Temporary files / Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
temp/
extracted/ # If you create local extraction folders
*.zip # Temporary archives created by the download API
*.cbr
*.cbz

# OS specific files
.DS_Store
Thumbs.db

# Test files (optional)
coverage/